language: clojure
notifications:
  email:
    on_success: never
    on_failure: change
before_script:
  - lein with-profile +dev cljfmt check
  - lein with-profile +dev eastwood
  - lein with-profile +dev kibit
jdk: oraclejdk8
