/* CSS reset */

* {
  margin:0;
  padding:0;
  boarder:0;
}

body, html {
 overflow:hidden;
 height: 100%;
 width: 100%;
}

/* Our CSS */

#time-slider-container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

input[type=range] {
  width: 100%;
}

.time-slider {
  margin: 0 2% 0 2%;
  color: white;
}

.hidden {
  visibility: hidden;
}

#blur{
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}

#left-canvas, #right-canvas {
  height: 100vh;
  width: 50vw;
}

#right-canvas {
  position: absolute;
}

* {
  margin:0;
  padding:0;
  boarder:0;
}

#data-layer-container {
  z-index: 1;
  position: absolute;
  width: 10%;
  height: 100%;
  top: 30%;
  left: 5%;
}

#shader-selection-container {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 10%;
  left: 30%;
  top: 5%;
}


#view-selection-container {
  position: absolute;
  width: 10%;
  height: 100%;
  right: 5%;
  top: 30%;
}

.button {
  float: left;
  height: 60px;
  width: 180px;
  margin: 25px;
  border-radius: 25px;
  border-width: 3px;
  border-color: #255aaa;
  text-shadow: 0px 0px #255aaa;
  color: black;
  font-size: 100%;
  font-family: sans-serif;
  font-weight: bold;
  font-style: normal;
}

.button:hover {
  box-shadow: 0 0 50px #255aaa;
}

.button:active {
  background-color: #7f8896;
}

.button-clicked {
  width: 250px;
  height: 100px;
  margin: 25px;
  background-color: #7f8896;
  border-radius: 25px;
  border-width: 3px;
  border-color: #255aaa;
  text-shadow: 0px 0px #255aaa;
  color: black;
  font-size: 100%;
  font-family: sans-serif;
  font-weight: bold;
  font-style: normal;
}

.button-clicked:hover {
  box-shadow: 0 0 50px #255aaa;
}
