html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border:		  0;
  font-size:  100%;
  font-style: normal;
  margin:		  0;
  padding:	  0;
	-webkit-user-select: none;
  user-select: none;
  vertical-align: baseline;
	line-height: 1.2em;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
	font-family: Sans-serif;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Our CSS */

h1 {
  font-size: 2.2em;
}
h2 {
  font-size: 1.6em;
}
h3 {
	font-size: 1.4em;
	margin: 1em 0 0.2em 0;
}
h4 {
	color: white;
	font-size: 1.1em;
	font-family: Sans-serif;
	margin: 10% 0 0 0;
}
h5 {
	font-family: Sans-serif;
	font-weight: lighter;
	font-size:   0.9em;
	margin: 0.2em 0 0 0;
}
p {
  font-family: Sans-serif;
	margin: 1.2em 0 1.2em 0;
}
a {
	color: lightgrey;
}
a:hover {
	color: grey;
}

body, html {
 height:    100%;
 overflow:  hidden;
 width:     100%;
 color: white;
}

#time-slider-containers {
  background-color: rgba(0, 0, 0, 0.5);
  bottom:   0;
  left:     0;
  padding:  10px 0 0 0;
  position: absolute;
  height:   100px;
  width:    100%;
}

.time-sliders-left, .time-sliders-right {
	table-layout: fixed;
  float: left;
  width: 50%;
}

input[type=range] {
  width: 100%;
}

.time-slider {
  float:  right;
  width:  100%;
  cursor: default;
}


.hidden {
  visibility: hidden;
}

#blur{
  background-color: rgba(0, 0, 0, 0.8);
  height:   100vh;
  left:     0;
  position: absolute;
  top:      0;
  width:    100vw;
	z-index:  4;
}

#left-canvas, #right-canvas {
  height: 100vh;
  width:  50vw;
}

#canvases {
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}

#canvases:active {
  cursor: -moz-grab;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

#right-canvas {
  position: absolute;
}

input[type=button], select, div.hidden-helper {
	border: 0;
	color: white;
	cursor: pointer;
	display: block;
	font-size: 1em;
  background-color: black;
	box-shadow:    0 0 0.2em #fff;
	border-radius: 3px;
	padding: 0.2em 0.8em;
	margin: 0.5em 1em 0 0;
}
select {
	display: inline-block;
}

input[type=button]:focus, select:focus {
	outline:0;
}
input[type=button]::-moz-focus-inner,  {
  border: 0;
}

input[type=button]:hover, select:hover {
  box-shadow: 0 0 0.4em #fff;
}

input[type=button]:active, select:active {
  box-shadow: 0 0 0.5em #fff;
}

input[type=button].play-pause {
	display: inline-block;
  background-image: url('../img/play-pause.png');
	float: left;
  height: 30px;
  border-radius: 50%;
  margin: 7px 0 5px 15px;
  width:  30px;
	padding: 0;
}
td:first-child{
	width: 60px;
}

input[type=button].intro-button {
	display: inline-block;
  font-size: 1.2em;
  margin:    1em 1em 0 0;
}

#view-selection-container {
  position: absolute;
  right:    calc(1% + 100px);
  top:      25%;
  width:    0;
}

#Compass {
  background-color: rgba(255, 255, 255, 0.3);
  background-image: url('../img/compass.png');
  position: absolute;
  border-radius: 50%;
  cursor:        pointer;
  font-size:     1.2em;
  font-weight:   bold;
  height:        100px;
  margin:        1em;
  outline:       0;
  right:    0;
  bottom:   110px;
  width:    100px;
}

input[type=button].selection-button {
	position: absolute;
  z-index: 1;
	padding: 0.5em 1.5em;
	font-weight: bold;
	top:  0;
	margin: -1px -5px;
}
#Navigation {
	right: 0;
}
#nav-selection-container{
	position: absolute;
  top:  0;
	right: 90px;
}
.sidebar {
	position: absolute;
  height: 100%;
	padding: 3%;
	z-index: 2;
	background-color: #111;
}

#data-menu-container {
  top: 0;
  left: 0;
}
#data-menu-container>.closebtn {
	top: 3%;
	display: block;
}

#navigation-menu-container {
  top: 0;
  right: 0;
}

input[type=button].closebtn {
  width: 30px;
  height: 30px;
	padding: 0 0 2px 1px;
	font-size: 1.2em;
	margin: 0.5em 0 0 0;
}
div#about-page>input[type=button].closebtn{
	float: right;
}

input[type=button].help {
	display: inline-block;
	padding: 0.2em 0.5em;
	float: right;
	margin: 0.5em 0 0 0;
}
input[type=button].help:focus + div{
	visibility: visible;
}
div.hidden-helper {
	visibility: hidden;
	position: absolute;
	background-color: black;
	width: 100%;
}

div.full-page {
  position: absolute;
  top:      0;
  width:    90%;
	height:   90%;
  z-index:  5;
	overflow: auto;
	padding: 5%;
}
#landing-page {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#landing-page>div {
	margin: 0 5% 5% 5%;
}
