/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border:		  0;
  font-size:  100%;
  font-style: normal;
  margin:		  0;
  padding:	  0;
	-webkit-user-select: none;
  user-select: none;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Our CSS */

h1{
  font-size: 2.2em;
}
p{
  font-family: Sans-serif;
}

body, html {
 height:    100%;
 overflow:  hidden;
 width:     100%;
}

#time-slider-containers {
  background-color: rgba(0, 0, 0, 0.5);
  bottom:   0;
  left:     0;
  padding:  10px 0 0 0;
  position: absolute;
  height:   15%;
  width:    100%;
}

.time-sliders-left {
  float: left;
  width: 50%;
}

.time-sliders-right {
  float: right;
  width: 50%;
}

input[type=range] {
  width: 100%;
}

.time-slider {
  color:  white;
  float:  right;
  width:  calc(100% - 70px);
  cursor: default;
}

input[type="button"].play-pause {
  background-color: rgba(230, 230, 230, 1);
  background-image: url('../img/play-pause.png');
  height: 40px;
  border-radius: 50%;
  margin: 5px 0 5px 15px;
  width:  40px;
}


.hidden {
  visibility: hidden;
}

#blur{
  background-color: rgba(0, 0, 0, 0.7);
  height:   100vh;
  left:     0;
  position: absolute;
  top:      0;
  width:    100vw;
}

#left-canvas, #right-canvas {
  height: 100vh;
  width:  50vw;
}

#canvases {
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}

#canvases:active {
  cursor: -moz-grab;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

#right-canvas {
  position: absolute;
}

* {
  boarder:  0;
  margin:   0;
  padding:  0;
}

#landing-page {
  color:    white;
	cursor:   default;
  position: absolute;
  top:      0;
  width:    100%;
	height:   90%;
  z-index:  1;
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#landing-page > input[type="button"] {
	margin: 10%;
}

#view-selection-container {
  position: absolute;
  right:    calc(1% + 100px);
  top:      25%;
  width:    0;
}

.intro-button {
  border-radius: 50%;
  border-width:  0;
  box-shadow:    0 0 0.5em #000;
  color:         black;
  cursor:        pointer;
  font-size:     1.2em;
  font-weight:   bold;
  height:        100px;
  margin:        1em 0;
  outline:       0;
  text-shadow:   0 0 0.3em white;
  width:         100px;
}

input[type="button"]::-moz-focus-inner {
  border: 0;
}

input[type="button"]:hover {
  box-shadow: 0 0 0.7em #fff;
}

input[type="button"]:active {
  box-shadow: 0 0 1.5em #fff;
}

#Compass {
  background-color: rgba(255, 255, 255, 0.3);
  background-image: url('../img/compass.png');
  position: absolute;
  border-radius: 50%;
  border-width:  0;
  box-shadow:    0 0 0.5em #000;
  color:         black;
  cursor:        pointer;
  font-size:     1.2em;
  font-weight:   bold;
  height:        100px;
  margin:        1em 0;
  outline:       0;
  text-shadow:   0 0 0.3em white;
  right:    1.5%;
  bottom:   15%;
  width:    100px;
}

#data-selection-container {
  height: 30%; /* 100% Full-height */
  width: 15%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
}

#nav-selection-container {
  height: 30%;
  width: 15%;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
}

#data-menu-container {
  height: 100%; /* 100% Full-height */
  width: 15%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
}

#navigation-menu-container {
  height: 100%; /* 100% Full-height */
  width: 15%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 3; /* Stay on top */
  top: 0;
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
}

#side-menu-button-group-container {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 20%;
  left: 10%;
  margin: 0;
}

#upper-side-menu-button-group {
  position: absolute;
  width: 100%;
  height: 30%;
  top: 0;
  margin: 0;
}

#side-menu-offset {
  position: absolute;
  width: 100%;
  height: 10%;
  top: 45%;
  margin: 0;
}

#lower-side-menu-button-group {
  position: absolute;
  width: 100%;
  height: 30%;
  top: 30%;
  margin: 0;
}

#right-upper-side-menu-button-group {
  position: absolute;
  width: 100%;
  height: 30%;
  top: 0;
  margin: 0;
}

#right-side-menu-offset {
  position: absolute;
  width: 100%;
  height: 10%;
  top: 20%;
  margin: 0;
}

#right-lower-side-menu-button-group {
  position: absolute;
  width: 100%;
  height: 70%;
  top: 30%;
  margin: 0;
}

.selection-button {
  background-color: rgba(255, 255, 255, 1);
  float: left;
  position: absolute;
  height: 30%;
  min-height: 30px;
  max-height: 30px;
  width: 80%;
  min-width: 120px;
  top: 10%;
  left: 10%;
  border-radius: 25px;
  border-width: 3px;
  border-color: #255aaa;
  text-align: center;
  text-shadow: 0px 0px #255aaa;
  color: black;
  font-size: 100%;
  font-family: sans-serif;
  font-weight: bold;
  font-style: normal;
}

.side-menu-button {
  float: left;
  height: 10%;
  width: 100%;
  min-height: 30px;
  max-height: 30px;
  left: 10%;
  right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 25px;
  border-width: 3px;
  background-color: rgba(255, 255, 255, 1);
  border-color: #255aaa;
  text-align: center;
  text-shadow: 0px 0px #255aaa;
  color: black;
  font-size: 100%;
  font-family: sans-serif;
  font-weight: bold;
  font-style: normal;
}

.side-menu-button:hover {
  box-shadow: 0 0 0.7em #fff;
}

#Temperature {
  background-image: url('../img/raindrops.jpg');
}

.closebtn {
  position: absolute;
  background-color: #333;
  color: white;
  width: 25px;
  height: 25px;
  z-index: 2;
  top: 5%;
  right: 5%;
  font-size: 36px;
  margin-left: 50px;
}

.closebtn:before {
  transform: rotate(45deg);
  content: 'x';
}
