/* some style */
#ui {
position: absolute;
top: 100px;
right: 100px;
}

#yeartext {
position: absolute;
top: 80px;
right: 200px;
}


#main{
  height: 100vh;
  width: 100vw;

}

*{
  margin:0;
  padding:0;
  boarder:0;
}
