#time-slider-container {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

input[type=range] {
  width: 100%;
}

.time-slider {
  margin: 0 2% 0 2%;
  color: white;
}

#main {
  height: 100vh;
  width: 100vw;
}

* {
  margin:0;
  padding:0;
  boarder:0;

.data-layers-button {
	color: orange;
	margin: 10px;
	position: absolute;
}
