/* CSS reset */

* {
  margin:0;
  padding:0;
  boarder:0;
}


/* Our CSS */

#time-slider-container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

input[type=range] {
  width: 100%;
}

.time-slider {
  margin: 0 2% 0 2%;
  color: white;
}

.hidden {
  visibility: hidden;
}

#main, #blur{
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

#blur {
position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}

#main {
  height: 100vh;
  width: 100vw;
  display: block;
}
* {
  margin:0;
  padding:0;
  boarder:0;
}

#data-layer-container {
  z-index: 2;
  position: absolute;
  top: 40%;
  left: 25%
}

#view-selection-container {
  z-index: 2;
  position: absolute;
  top: 60%;
  left: 40%
}

.data-layer-button {

  width: 250px;
  height: 100px;
  margin: 25px;
  border-radius: 25px;
  border-width: 3px;
  border-color: #255aaa;
  text-shadow: 0px 0px #255aaa;
  color: black;
  font-size: 100%;
  font-family: sans-serif;
  font-weight: bold;
  font-style: normal;
}
